// CoCoRV default setting
params.groupFunctionConfig="NA"
params.extraParamJason="NA"
params.annotationUsed="NA"
params.highLDVariantFile="NA"
params.pLDControl=0.05
params.REVELThreshold=-1
params.reference="GRCh37"
params.gnomADVersion="v2exome"
params.casePopulation="NA"
params.CoCoRVOptions=""
params.protocol="refGene,gnomad211_exome,revel"
params.operation="g,f,f"
params.VCFAnno="NA"
params.toml="NA"
params.caseAnnotatedVCFPrefix="NA"
params.caseAnnotatedVCFSuffix="NA"
params.variantInclude="NA"

profiles {
    local {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'lsf'
        executor.queueSize = 1000
        process.queue = 'priority' // 'standard'
        process.clusterOptions = '-P cocorv'
        process.memory = '80GB'
    }

    conda_GRCh38 {
        process.executor = 'lsf'
        executor.queueSize = 1000
        process.queue = 'priority' // 'standard'
        process.clusterOptions = '-P cocorv'
        process.memory = '80GB'
        conda.enabled = true
        conda.useMicromamba = true
        process.conda = '/research/rgs01/home/clusterHome/stithi/micromamba/envs/cocorv-env-GRCh38'
    }

    conda_GRCh37 {
        process.executor = 'lsf'
        executor.queueSize = 1000
        process.queue = 'priority' // 'standard'
        process.clusterOptions = '-P cocorv'
        process.memory = '80GB'
        conda.enabled = true
        conda.useMicromamba = true
        process.conda = '/research/rgs01/home/clusterHome/stithi/micromamba/envs/cocorv-env-GRCh37'
    }

    conda_gnomadv4 {
        process.executor = 'lsf'
        executor.queueSize = 1000
        process.queue = 'priority' // 'standard'
        process.clusterOptions = '-P cocorv'
        process.memory = '80GB'
        conda.enabled = true
        conda.useMicromamba = true
        process.conda = '/research/rgs01/home/clusterHome/stithi/micromamba/envs/cocorv-env-gnomadv4'
    }
}

dag {
  enabled = true
  overwrite = true 
}
report {
  enabled = true
  overwrite = true 
}
timeline {
  enabled = true
  overwrite = true
}

singularity {
    enabled = true
    cacheDir = '/research/rgs01/home/clusterHome/stithi/singularity-cache'
}
