// CoCoRV default setting
params.groupFunctionConfig="NA"
params.extraParamJason="NA"
params.annotationUsed="NA"
params.highLDVariantFile="NA"
params.pLDControl=0.05
params.REVELThreshold=-1
params.reference="GRCh38"
params.gnomADVersion="v4exome"
params.casePopulation="NA"
params.CoCoRVOptions="NA"
params.protocol="refGene,revel"
params.operation="g,f"
params.annotationTool="ANNOVAR"
params.VEPAnnotations="AM,SPLICEAI"
params.VCFAnno="NA"
params.toml="NA"
params.caseAnnotatedVCFPrefix="NA"
params.caseAnnotatedVCFSuffix="NA"
params.variantExclude="NA"
params.variantInclude="NA"
params.batchSize=10000
params.cpus=8 // for gds conversion

profiles {
    local {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'lsf'
        executor.queueSize = 1000
        process.queue = 'priority' // 'standard'
        process.clusterOptions = '-P cocorv'
        process.memory = '64GB'
    }

    conda_gnomadv4 {
        process.executor = 'lsf'
        executor.queueSize = 1000
        process.queue = 'priority' // 'standard'
        process.clusterOptions = '-P cocorv'
        process.memory = '64GB'
        conda.enabled = true
        conda.useMicromamba = true
        process.conda = '/research/rgs01/home/clusterHome/stithi/micromamba/envs/cocorv-env-gnomadv4'
    }

    cluster_singularity_lsf {
        process.executor = 'lsf'
        executor.queueSize = 1000
        process.queue = 'priority' // 'standard'
        process.clusterOptions = '-P cocorv'
        process.memory = '64GB'
        singularity.enabled = true
    }

    cluster_apptainer_slurm {
        process.executor = 'slurm'
        executor.queueSize = 1000
        process.queue = 'cpu-short'  
        process.memory = '64GB'
        process.time = '168h'
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.runOptions = '--bind /research/bsi/projects/staff_analysis/m301801/tools/cocorv_pipeline,/research/bsi/projects/staff_analysis/m301801/tools/cocorv_pipeline/CoCoRV-1KG-GRCh38-gnomADv4.1exome-output,/research/bsi/projects/staff_analysis/m301801/simplexo/data/AoURef/,/research/bsi/projects/staff_analysis/m301801/tools/annovar/annovar_20191024/humandb/'
    }
}

dag {
  enabled = true
  overwrite = true 
}
report {
  enabled = true
  overwrite = true 
}
timeline {
  enabled = true
  overwrite = true
}

