docker {
    enabled = true
}

executor {
    queueSize = 22
}

params {
    // CoCoRV setting
    Build_hg19 {
      ACANConfig="/opt/utilities/stratified_config_gnomad.txt"
      variantExclude="/opt/utilities/gnomAD.exclude.allow.segdup.lcr.v3.txt.gz"
      highLDVariantFile="/opt/utilities/full_vs_gnomAD.p0.05.OR1.ignoreEthnicityInLD.rds"
    }

    Build_hg38 {
      ACANConfig="/opt/utilities/stratified_config_gnomadV4.asj.txt"
      variantExclude="/opt/utilities/gnomAD41WGSExtraExcludeInCodingExcludeTAS2R46.txt.gz"
    }

    pLDControl=0.05
    protocol="refGene,revel"
    operation="g,f"
    VCFAnno="NA"
    toml="NA"
    CoCoRVOptions="NA"
    groupFunctionConfig="NA"
    extraParamJason="NA"
    annotationUsed="NA"
    caseAnnotatedVCFPrefix="NA"
    caseAnnotatedVCFSuffix="NA"
    addVEP="F"
    VEPAnnotations="AM,SPLICEAI,CADD,LOFTEE"
    variantInclude="NA"
    batchSize=10000
    topK=20
    caseControl="case"

    //user inputs
    caseBed = null
    casePopulation = null
    caseSample = null
    gnomADVersion = "v2exome"
    AFMax=0.0001
    variantMissing=0.1
    variantGroup="annovar_pathogenic"
    REVELThreshold=0.65
    resourceFiles = null
    outdir = "./results"
    cpus=4 // for gds conversion
    caseVCFFileList = null
}

// Processes should always fail if any pipe element has a non-zero exit code.
process.shell = ['/bin/bash', '-euo', 'pipefail']
