params {
    // CoCoRV setting
    pLDControl=0.05
    protocol="refGene,revel"
    operation="g,f"
    VCFAnno="NA"
    toml="NA"
    CoCoRVOptions="NA"
    groupFunctionConfig="NA"
    extraParamJason="NA"
    annotationUsed="NA"
    caseAnnotatedVCFPrefix="NA"
    caseAnnotatedVCFSuffix="NA"
    addVEP="F"
    VEPAnnotations="AM,SPLICEAI,CADD,LOFTEE"
    variantInclude="NA"
    batchSize=10000
    topK=20
    caseControl="case"
}

profiles {
    local {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'lsf'
        executor.queueSize = 1000
        process.queue = 'standard' // 'priority'
        process.clusterOptions = '-P ALS'
        process.memory = 8GB
    }
}

dag {
  enabled = true
  overwrite = true 
}
report {
  enabled = true
  overwrite = true 
}
timeline {
  enabled = true
  overwrite = true
}
