/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/rarevariantburden Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // TODO nf-core: Specify your pipeline's command line flags

    //Mandatory inputs coming from cli are: caseJointVCF, caseSample, controlDataFolder, annovarFolder, vepFolder, build, gnomADVersion, outdir
    caseJointVCF               = "NA"
    caseSample                 = "NA"
    controlDataFolder          = "NA"
    annovarFolder              = "NA"
    vepFolder                  = "NA"
    build                      = "GRCh37"
    gnomADVersion              = "v2exome"

    // Main options
    //input case cohort options
    caseBed                    = "NA"
    caseVCFFileList            = "NA"
    chrSet                     = "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22"

    caseAnnotatedVCFFileList   = "NA"
    caseGenotypeGDSFileList    = "NA"
    caseAnnotationGDSFileList  = "NA"

    //annotation options
    protocol                   = "refGene,gnomad211_exome,revel"
    operation                  = "g,f,f"
    addVEP                     = "F"
    VEPAnnotations             = "AM,SPLICEAI,CADD,LOFTEE"
    VCFAnno                    = "NA"
    toml                       = "NA"

    //ancestry prediction options
    casePopulation             = "NA"

    // CoCoRV default setting
    controlGenotypeGDSFileList   = "NA"
    controlAnnotationGDSFileList = "NA"

    groupFunctionConfig        = "NA"
    extraParamJason            = "NA"
    annotationUsed             = "NA"
    CoCoRVOptions              = "NA"
    groupColumn                = "Gene.refGene"
    variantInclude             = "NA"
    batchSize                  = 10000
    CoCoRVFolder               = "/opt/cocorv/"
    AFMax                      = 1e-4
    variantMissing             = 0.1
    variantGroup               = "annovar_pathogenic"
    REVELThreshold             = 0.65
    pLDControl                 = 0.05

    //postcheck options
    topK                       = 20
    caseControl                = "case"

    // Boilerplate options
    outdir                       = "./results"
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    //pipelines_testdata_base_path = 'https://raw.githubusercontent.com/saima-tithi-stjude/test-datasets/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    validate_params            = false
}

docker {
    enabled = true
}

executor {
    queueSize = 22
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load nf-core custom profiles from different Institutions
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load nf-core/rarevariantburden custom profiles from different institutions.
// TODO nf-core: Optionally, you can add a pipeline-specific nf-core config at https://github.com/nf-core/configs
// includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/pipeline/rarevariantburden.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'docker.io'
docker.registry       = 'docker.io'
podman.registry       = 'docker.io'
singularity.registry  = 'docker.io'
charliecloud.registry = 'docker.io'

// Load igenomes.config if required
//includeConfig !params.igenomes_ignore ? 'conf/igenomes.config' : 'conf/igenomes_ignored.config'

// Processes should always fail if any pipe element has a non-zero exit code.
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/rarevariantburden'
    author          = """Saima Sultana Tithi, Wenan Chen""" // The author field is deprecated from Nextflow version 24.10.0, use contributors instead
    homePage        = 'https://github.com/nf-core/rarevariantburden'
    description     = """This pipeline include tools for performing consistent summary count based rare variant burden test, which is useful when we only have sequenced cases data, no control data; here we can compare the cases against public summary count data, such as gnomAD data"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=23.10.0'
    version         = '1.0.0'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.3.0' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
